<app-nav-bar></app-nav-bar>  
    <div class="download-box">
      <h1 class="download-header">Download RSABot for Desktop</h1>
  
      <button class="download-button" (click)="handleDownload('macintel')">
        Download for Mac - Intel
      </button>
  
      <button class="download-button" (click)="handleDownload('macarm')">
        Download for Mac - ARM
      </button>
  
      <button class="download-button" (click)="handleDownload('windows')">
        Download for Windows
      </button>
    </div>

