<div class="confirm-signup-container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="sendResetEmail()" [formGroup]="forgotForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control" required />
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="forgotForm.invalid">Confirm</button>
    </form>
</div>
  
<ng-container *ngIf="showReset">
    <div class="confirm-signup-container">
        <form (ngSubmit)="onResetPassword()" [formGroup]="resetForm">
        <div class="form-group">
            <label for="confirmationCode">Confirmation Code</label>
            <input id="confirmationCode" formControlName="confirmationCode" type="text" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input id="newPassword" formControlName="newPassword" type="password" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="repeatPassword">Confirm Password</label>
            <input id="repeatPassword" formControlName="repeatPassword" type="password" class="form-control" required />
            <div *ngIf="resetForm.hasError('mismatch') && resetForm.get('repeatPassword')?.touched" class="error">
                Passwords do not match.
              </div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Reset Password</button>
        </form>
    </div>
</ng-container>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="spinner-container">
    <div class="loading-spinner"></div>
  </div>