@import '../../styles.scss';

.confirm-signup-container {
    background-color: $gray-color;
    padding: 2rem;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-light;
    max-width: 400px;
    margin: 0 auto;
  
    h2 {
      color: $gold-color;
      text-align: center;
      margin-bottom: $spacing-unit * 2;
    }
  
    .form-group {
      margin-bottom: $spacing-unit * 1.5;
  
      label {
        color: $white-color;
        margin-bottom: 0.5rem;
        display: block;
      }
  
      input {
        @include input-style();
      }
  
      .error {
        color: $gold-color;
        font-size: 0.875rem;
      }
    }
  
    button {
      @include button($gold-color);
      width: 100%;
    }
  }
  