@import '../../styles.scss';
  
// Container for the form
.account-form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: $spacing-unit * 2;
  background-color: $white-color;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-light;
  text-align: center;

  h2 {
    margin-bottom: $spacing-unit;
    font-size: 1.8rem;
    color: $gold-color;
    font-family: $font-family-base;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      font-size: 1.1rem;
      color: $black-color;
      margin-bottom: 0.5rem;
      font-family: $font-family-base;
    }

    input {
      @include input-style();
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-unit * 2;

    .btn {
      @include button($gray-color);
      padding: $spacing-unit;
      font-size: 1rem;

      &.btn-validate {
        @include button($gold-color);
      }

      &.btn-save {
        @include button($black-color);
      }
    }
  }
}
